<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="blog" id="blog" class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-title">
                    <h1>Blog</h1>
                </div>
                <div class="text-info">
                    <h4>News & Update</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/1.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time">
                                    <a href="#">09 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="Old/blog.html">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/2.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time time1">
                                    <a href="#">19 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="Old/blog.html">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/3.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time time2">
                                    <a href="#">11 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="Old/blog.html">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/4.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time time3">
                                    <a href="#">09 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/5.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time time4">
                                    <a href="#">08 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-post">
                            <div class="entry-thumbnail">
                                <div class="thumbnail-oberlay"></div>
                                <img class="img-responsive" src="../images/blog/6.jpg" alt="Image">
                            </div>
                            <div class="post-content">
                                <div class="time time5">
                                    <a href="#">02 <span>feb</span></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row -->
            </div>
        </div>
    </div><!-- container -->
</div>
</html>