<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="education" id="education" class="education-section bg-color section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-content">
                    <div class="section-title">
                        <h1>Education</h1>
                    </div>
                    <div class="text-info">
                        <h4>Just My Educational Background</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="education-info">
                        <img class="img-responsive" src="../images/education/1.png" alt="Image">
                        <h3>Montana State University</h3>
                        <h5>Bachalor of Arts</h5>
                        <h6>1999 - 2003</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <hr>
                    <div class="education-info">
                        <img class="img-responsive" src="../images/education/2.png" alt="Image">
                        <h3>Montana State University</h3>
                        <h5>University of Bristol</h5>
                        <h6>1999 - 2003</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <hr>
                    <div class="education-info">
                        <img class="img-responsive" src="../images/education/3.png" alt="Image">
                        <h3>Cincinnati Christian University</h3>
                        <h5>Bachalor of Arts</h5>
                        <h6>1999 - 2003</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div>
</html>