<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header"></head>
    <body>
        <div class="main-wrapper home-one">
            <div th:include="layout/nav"></div><!-- navigation -->

            <div th:include="layout/home-banner"></div><!-- home-banner -->

            <div th:include="layout/about"></div><!-- about section -->

            <div th:include="layout/skill"></div><!-- skill section -->

            <div th:include="layout/experience"></div><!-- exprience section -->

            <div th:include="layout/education"></div><!-- education section -->

            <div th:include="layout/portfolio"></div><!-- portfolio section -->

            <div th:include="layout/contact"></div><!-- contact section -->

            <div th:include="layout/blog"></div><!-- blog section -->

            <div th:include="layout/profile"></div><!-- profile section -->


            <div th:include="layout/footer"></div>
        </div><!-- main wrapper -->

        <!-- JS -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/waypoints.min.js"></script>
        <script src="../js/counterup.min.js"></script>
        <script src="../js/inview.min.js"></script>
        <script src="../js/easypiechart.js"></script>
        <script src="../js/magnific-popup.min.js"></script>
        <script src="../js/main.js"></script>
    </body>

</html>